body {
    color: #222;
    font-family: sans-serif;
}

.titulo {
    text-align: center;
    margin: 100px 0 0 0;
}

.reloj {
    padding: 50px 100px;
    margin: 10px 350px;
    font-size: 50px;
    background: linear-gradient(#111, #666);
    border: 2px solid #000;
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
}

.reloj div {
    padding: 5px 7px;
    font-family: monospace;
}

.reloj .hora {
    margin-right: 10px;
    color: #1f0;
}

.reloj .min {
    margin: 0px 10px;
    color: rgb(212, 235, 8);
}

.reloj .seg {
    margin-left: 10px;
    color: #f00;
}